.badge {
  color: var(--color-text-accent-light);
  background-color: var(--color-text-accent-dark);
  height: 73px;
  font-weight: 600;
  box-shadow: 16px 13px 25px -5px rgba(65, 60, 57, 0.21);

  &--primary {
    padding: 10px 27px;
    height: 55px;
    border-radius: 34px;
    font-size: 26px;
  }

  &--white {
    color: var(--color-text-accent-dark);
    background-color: var(--color-text-accent-light);
  }

  &--secondary {
    color: var(--color-text-accent-dark);
    background-color: var(--color-text-accent-light);
    border-radius: 50px;
    padding: 9px 29px;
    font-size: 53px;
    line-height: 101%;
    letter-spacing: -0.01em;
    }
}

