.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  &__page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    flex-direction: column;

    &--accent-text {
      font-size: 60px;
      line-height: 116%;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      text-align: right;
      color: var(--color-text-accent-light);
      align-items: end;
      position: relative;
      bottom: 125px;
      left: 355px;
    }
  }

  &__slide {
    width: 1240px;
    height: 800px;
    border-radius: 70px;
    background-color: var(--color-gray-front);
    overflow: hidden;
    position: relative;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}