.sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  &__decor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    position: relative;
    @include circle(74px, var(--color-circle));
    box-shadow: 16px 14px 31px 0 var(--color-shadow);
    cursor: pointer;

    &:nth-child(1),
    &:nth-child(5) {
      margin-left: 27px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      margin-left: 68px;
    }

    &:nth-child(3) {
      margin-left: 77px;
    }

    &:not(.sidebar__item--active):hover {
      .sidebar__icon {
        color: var(--color-circle-active);
      }
    }
  }

  &__item--active {
    @include circle(103px, var(--color-circle-active));
    box-shadow: 16px 14px 27px 0 var(--color-shadow-active);
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__icon {
    color: var(--color-icon);
  }

  &__item--active &__icon {
    transform: scale(1.3);
    color: var(--color-icon-active);
  }

  // Добавить для красоты /n потому что разная ширина на макете
  &__label {
    display: none;
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 127%;
    letter-spacing: -0.01em;
    font-size: 26px;
    font-weight: 600;
    color: var(--color-text-accent-light);

  }
  &__item--active &__label {
    display: block;
    text-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
  }
}
