.slide-blade {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-top: 53px;
  padding-right: 67px;

  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  h2 {
    max-width: 861px;
    font-size: 45px;
    line-height: 122%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: right;
    color: var(--color-text-accent-dark);
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: -0.01em;
    text-align: right;
    color: #737373;
  }

  &__star {
    @include star-base;
    position: absolute;
    top: 582px;
    right: 46px;
    --star-color: var(--color-text-accent-dark);
    z-index: 2;

    p {
      transform: rotate(0deg);
    }
  }
}