.slide-ions {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
  }

  &__star {
    @include star-base;
    width: 234px;
    height: 234px;

    &--first {
      top: 138px;
      left: 833px;
      --star-color: var(--color-ellipse-gray);
    }

    &--second {
      bottom: 302px;
      right: 37px;
    }

    &--icon {
      position: absolute;
    }
    p {
      transform: rotate(0deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 19px;
      letter-spacing: -0.01em;
      max-width: 152px;
      font-weight: 500;

      span {
        font-size: 25px;
        line-height: 113%;
        letter-spacing: -0.01em;
        margin-bottom: 4px;
      }
    }
  }
}

