.slide-bag {
  position: relative;

  &__img {
    position: absolute;
    right: 677px;
    top: 137px;
    user-select: none;
    -webkit-user-drag: none;
  }

  &__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    top: 106px;
    left: 700px;
    color: var(--color-text-accent-light);
    text-align: center;
    justify-content: center;

    h2 {
      @include slide-text-title;
      letter-spacing: -0.06em;
    }

    p {
      @include slide-text-paragraph;
      max-width: 311px;
      margin: 44px auto 55px;
      line-height: 187%;
      text-align: center;
    }

    img {
      border-radius: 30px;
    }
  }
}