body {
  @include fluid-text(18, 16);

  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  line-height: 1.28;


}

.content {
  min-height: 100vh;
  background-color: var(--color-gray-back);
  position: relative;
}