//$desktop-above: 1281px;
//$desktop: 1280px;
//
//@mixin desktop-above {
//  @media (min-width: $desktop-above) {
//    @content;
//  }
//}
//
//@mixin desktop {
//  @media (max-width: $desktop) {
//    @content;
//  }
//}