@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin visually-hidden-reset {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip-path: none;
  clip: auto;
  overflow: visible;
  white-space: normal;
}


@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin ellipse($size, $color, $blur: 334px) {
  width: $size;
  aspect-ratio: 1;
  background: $color;
  border-radius: 50%;
  filter: blur($blur);
  pointer-events: none;
  position: absolute;
}

@mixin circle($size, $color) {
  width: $size;
  height: $size;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $color;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin star-base {
  position: absolute;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  --star-color: #4B4B4B;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--star-color);
    mask-image: url("../images/icons/star.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("../images/icons/star.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  p {
    position: relative;
    color: var(--color-text-accent-light);
    font-size: 21px;
    line-height: 113%;
    letter-spacing: -0.01em;
    text-align: center;
  }
}

@mixin slide-text-title {
  font-size: 60px;
  line-height: 101%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0;
}

@mixin slide-text-paragraph {
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: 0.02em;
}