:root {
  --font-family: 'EuclidCircularA';
  --second-family: 'Montserrat';

  --color-gray-back: #7f7875;
  --color-gray-front: #A29C9A;

  --color-ellipse-white: #FFFFFF;
  --color-ellipse-peach: #F5D4AC;
  --color-ellipse-gray: #625B56;
  --color-ellipse-orange: #FF976A;

  --color-text-accent-dark: #4B4B4B;
  --color-text-accent-light: #FFFFFF;

  --color-circle: #746D68;
  --color-circle-active: #DBDBDB;
  --color-icon: #ADACAC;
  --color-icon-active: #726965;

  --color-shadow: #625B56;
  --color-shadow-active: #59524C;

}